<template name="formWizard">

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Page heading -->
    {{> pageHeading title='Wizard' category='Forms' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>3 passos</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Criar Porquinhos
                        </h2>
                        <p>
                            Em apenas 3 passos tem o seu Porquinho pronto!
                        </p>

                        <form id="form" action="#" class="wizard-big">
                            <h1>Criar</h1>
                            <fieldset>
                                <h2>Criar Porkinhos</h2>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label>Escolha o tipo de evento</label>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                               <div class="btn-group btn-input clearfix">
                                                 <button type="button" id="EventType" name="EventType" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                                                   <span data-bind="label">Selecione o tipo de evento</span>&nbsp;<span class="caret"></span>
                                                 </button>
                                                 <ul class="dropdown-menu" role="menu">

                                                <!--  <select name= "teste">
                                                <option value = "Anniversário"> Volvo </option>
                                                <option value = "Anniversário"> Volvo </option>
                                               </select>
                                                -->
                                                   <li><a> Anniversário</a></li>
                                                   <li><a> Solidariedade</a></li>
                                                   <li><a> Projectos</a></li>
                                                   <li><a> Festas</a></li>
                                                   <li><a> Presentes</a></li>
                                                   <li><a> Outros</a></li>
                                                 </ul>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Nome do Porkinho *</label>
                                            <input id="NomePork" name="NomePork" type="text" class="form-control required"  placeholder="Presente para o aniversário da Claudinha">
                                        </div>
                                        <div class="form-group">
                                            <label>Nome Beneficiario *</label>
                                            <input id="NomeBenef" name="NomeBenef" type="text" class="form-control required" placeholder="Claudinha">
                                        </div>

                                        <div class="form-group">
                                            <label>Adicione a data *</label>
                                            <input id="FinalDate" name="FinalDate" type="text" class="form-control required">
                                        </div>

                                        
                                        <div class="form-group">
                                          <label for="myInput">Adicione a data de fim *</label>
                                          <div class="input-group datetimepicker">
                                             <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                             <input name="FinalDate" id="FinalDate" class="set-due-date form-control" type="text"/>
                                           </div>
                                        </div>


                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-center">
                                            <div style="margin-top: 20px">
                                                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <h1>Personalizar</h1>
                            <fieldset>
                                <h2>Personalizar</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Escolha um icon ou insira uma fotografia</label>
                                            <input id="ImagePork" name="ImagePork" type="text" class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label>Escreva uma descrição</label>
                                            <input id="PorkDescription" name="PorkDescription" type="text" class="form-control required" placeholder="Vamos nos juntar para oferecer a Claudinha um presente, ela merece!">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Entre com o valor total para atingir o seu objetivo</label>
                                            <input id="TotalValue" name="TotalValue" type="text" class="form-control required" placeholder="100R$">
                                        </div>
                                        <div class="form-group">
                                            <label>Sugerir montante por participante</label>
                                            <input id="SuggestedValue" name="SuggestedValue" type="text" class="form-control required" placeholder="10R$">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <h1>Partilhar</h1>
                            <fieldset>
                              <h2>3 - Partilhe o seu Porkinho</h2>
                              <div class="row">
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                        <label>Insira o email dos participantes</label>
                                        <input id="UsersEmail" name="UsersEmail" type="text" class="form-control required" placeholder="maria@gmail.com, jose@gmail.com">
                                     </div>
                                     <div class="form-group">
                                         <label>Partilhe o link</label>
                                         <input id="ShareLink" name="ShareLink" type="text" class="form-control required">
                                     </div>
                                     <div class="form-group">
                                               <label>Como deseja que os seus amigos o paguem</label>
                                               <input id="PaymentType" name="PaymentType" type="text" class="form-control required">
                                     </div>
                                 </div>
                               </div>
                            </fieldset>

                            <h1>Finish</h1>
                            <fieldset>
                                <h2>Terms and Conditions</h2>
                                <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>
