<template name="projectDetail">

    <!-- Page heading -->
    {{> pageHeading title='Project detail' category='App views' }}

    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a href="#" class="btn btn-white btn-xs pull-right">Editar Porquinho</a>
                                    <h2>{{NomePork}}</h2>

                                    <h2>{{NomeBenef}}</h2>

                                    <h2>{{EventType}}</h2>
                                </div>
                            </div>
                        </div>


<!-- -->

<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row m-b-lg m-t-lg">
            <div class="col-md-6">

                <div class="profile-image">
                <img alt="image" class="img-responsive" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQTblshaO4H0zV_2_juYBojd5GKQFbLQ6AFtlHjCRo_eHwgZ0Z44NGbwN8b">
                </div>

                <div class="profile-info">
                    <div class="">
                        <div>
                            <h4>Nome Porquinho</h4>
                            <small>
                                Isto é a descrição do Porquinho:
                                <p>highof passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form Ipsum available highof passages of Lorem Ipsum available, but the majority.</p>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <table class="table small m-b-xs">
                    <tbody>
                                        <tr>
                        <td>
                            <strong>Criador:</strong> Manuel
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Arrecadados:</strong> X reais
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>A confirmar:</strong> X reais
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Dias<span class="glyphicon glyphicon-hourglass"></span>:</strong> X
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <strong>Participantes <span class="glyphicon glyphicon-user"></span> :</strong> X
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <small>Objectivo:</small>
                <h4 class="no-margins">X reais</h4>
                <div id="sparkline1"></div>
            </div>


        </div>
        <div class="row">
                        <h4>Como Funciona</h4>

                            <p>
                            highof passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't.
                            <br/>
                            <br/>
                            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                            anything embarrassing
                            </p>



                                    <dl class="dl-horizontal">
                                        <br> <br>
                                    <dt>Percentagem:</dt>
                                    {{#if ownPost}}<dd>
                                        <div class="progress progress-striped active m-b-sm">
                                            <div style="width: 60%;" class="progress-bar"></div>
                                        </div>
                                        {{#if ownPost}}<small>Participe neste Porquinho para fazer aumentar a percentagem.</small>{{/if}}
                                    </dd>{{/if}}

                                    <br>
                                    {{author}}
                                    <div class="text-center m-t-md">
                                        <a href="#" class="btn btn-xs btn-primary">Convidar mais participantes</a>
                                    </div>
                                </dl>


                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-1" data-toggle="tab">Commentários</a></li>
                                                <li class=""><a href="#tab-2" data-toggle="tab">Gerir Porkinhos</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-body">

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="feed-activity-list">
                                                    <div class="feed-element">
                                                        <a href="#" class="pull-left">
                                                            <img alt="image" class="img-circle" src="img/a2.jpg">
                                                        </a>
                                                        <div class="media-body ">
                                                            <small class="pull-right">2h ago</small>
                                                            <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                                            <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                            <div class="well">
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                                Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="feed-element">
                                                        <a href="#" class="pull-left">
                                                            <img alt="image" class="
                                                            img-circle" src="img/a3.jpg">
                                                        </a>
                                                        <div class="media-body ">
                                                            <small class="pull-right">2h ago</small>
                                                            <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                                                            <small class="text-muted">2 days ago at 8:30am</small>
                                                        </div>
                                                    </div>


                                                    <div class="feed-element">
                                                        <a href="#" class="pull-left">
                                                            <img alt="image" class="img-circle" src="img/profile.jpg">
                                                        </a>
                                                        <div class="media-body ">
                                                            <small class="pull-right">23h ago</small>
                                                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                                        </div>
                                                    </div>
                                                    <div class="feed-element">
                                                        <a href="#" class="pull-left">
                                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                                        </a>
                                                        <div class="media-body ">
                                                            <small class="pull-right">46h ago</small>
                                                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane" id="tab-2">

                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Situação</th>
                                                        <th>Convidado</th>
                                                        <th>Quanto disse que ia dar</th>
                                                        <th>Quanto deu</th>
                                                        <th>Como deu o dinheiro</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Participou</span>
                                                        </td>
                                                        <td>
                                                            João
                                                        </td>
                                                        <td>
                                                            10 R$
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Participou</span>
                                                        </td>
                                                        <td>
                                                            Iracema
                                                        </td>
                                                        <td>
                                                            20 R$
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                            </p>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Participou</span>
                                                        </td>
                                                        <td>
                                                            Shara
                                                        </td>
                                                        <td>
                                                            10 R$
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                highof passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Participou</span>
                                                        </td>
                                                        <td>
                                                            Alberto
                                                        </td>
                                                        <td>
                                                            20 R$
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                Latin words, combined with a handful of model sentence structures
                                                            </p>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="label label-primary"><i class="fa fa-check"></i> Participou</span>
                                                        </td>
                                                       <td>
                                                            Joaquim
                                                        </td>
                                                        <td>
                                                            10 R$
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <p class="small">
                                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                                            </p>
                                                        </td>

                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                    </div>
                                    </div>
                    <div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-primary">Convidar mais participantes</a>
                    </div>
                </div>
                </div>

<!-- -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
                <div class="wrapper wrapper-content project-manager">
                    <h4>Como Funciona</h4>
                    <img src="img/zender_logo.png" class="img-responsive">
                    <p class="small">
                        Para participar neste Porquinho é muito simples e gratuito. Basta clicar no botão "Participar" e indicar a forma e a quantia que deseja para contribuir e a gente envia-lhe os dados do organizador.
                    </p>
                    <h5>Este Porquinho é:</h5>
                    <ul class="tag-list" style="padding: 0">
                        <li><a href=""><i class="fa fa-tag"></i> Simples</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Gratuito</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Fácil</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Seguro</a></li>
                        <br>

                    </ul>
                    <br>

                    <div class="text-center m-t-md">
                            <br>
                            <a data-toggle="modal" class="btn btn-primary" href="#modal-form">Participar</a>
                    </div>
                    <div id="modal-form" class="modal fade" aria-hidden="true">#modal-form
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Contribua</h3>

                                                <p>Participe neste Porquinho e diga ao organizador quanto e como quer dar a sua contribuição.</p>

                                                <form role="form">
                                                    <div class="form-group"><label>Nome</label> <input type="name" placeholder="Nome" class="form-control"></div>
                                                    <div class="form-group"><label>Email</label> <input type="email" placeholder="Email" class="form-control"></div>
                                                    <div class="form-group"><label>Mensagem para o organizador</label> <input type="mensagem" placeholder="Mensagem optional. Ex: Manuel, hoje a noite dou-te o dinheiro no futebol se não vieres faço transferência." class="form-control"></div>
                                                    <label> <input type="checkbox" class="i-checks"> Indicar montante que vai dar </label>
                                                    <p> Selecione como vai dar a sua participação ao Manuel:</P>
                                                    <div>
                                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Avisar como vai participar</strong></button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-sm-6"><h4>Aqui entra o nome do Porquinho</h4>
                                                <p>Texto descrição Porquinho ou explicação de como funciona.</p>
                                                <p class="text-center">
                                                    <a href=""><i class="fa fa-sign-in big-icon"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

    </div>

</template>

<!-- <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Sign in</h3>

                                                <p>Sign in today for more expirience.</p>

                                                <form role="form">
                                                    <div class="form-group"><label>Email</label> <input type="email" placeholder="Enter email" class="form-control"></div>
                                                    <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control"></div>
                                                    <div>
                                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                                                        <label> <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Remember me </label>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-sm-6"><h4>Not a member?</h4>
                                                <p>You can create an account:</p>
                                                <p class="text-center">
                                                    <a href=""><i class="fa fa-sign-in big-icon"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
